POSTGRES_USER=admin
POSTGRES_PASSWORD=secret_password
POSTGRES_DB=network_expander_db
POSTGRES_PORT=5432

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"